:root {
    --blue-logo: rgba(33, 150, 243, 1);
    --blue-btn: rgba(24, 140, 232, 1);

    --black-logo: rgba(0, 0, 0, 1);
    --black-text: rgba(33, 33, 33, 1);
    
    --greey: rgba(117, 117, 117, 1);
    --greey-op60: rgba(255, 255, 255, 0.6);
    
    --white-text: rgba(255, 255, 255, 1);

    --background-black: rgba(47, 48, 58, 1);
}

body {font-family: 'Roboto', sans-serif;}

/*шапка*/

header {text-decoration: none;}

.logotip { text-decoration: none; font-family: 'Raleway', sans-serif; color: var(--black-logo); font-weight: 700; font-style: normal; font-size: 26px;}

.logo { font-family: 'Oleo Seript', sans-serif; color: var(--blue-logo);font-weight: 400; font-style: normal; font-size: 26px;}

.nav-styd {color: var(--black-text); text-decoration: none; font-weight: 500; font-style: normal; font-size: 14px;}

.styd-li:hover {color: var(--blue-logo);}

.info { text-decoration: none;  color: var(--greey); font-weight: 500; font-style: normal; font-size: 14px;}

.stydia {color: var(--black-text);}

/*слот*/
.visually-hidden { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;}

.btn-vse {color: var(--white-text); background-color: var(--blue-logo); font-family: 'Roboto', sans-serif; font-weight: 500; font-style: normal; font-size: 16px;}

.btn-web { color: var(--black-text); font-family: 'Roboto', sans-serif; font-weight: 500; font-style: normal; font-size: 16px;}

.list-poster {color: var(--black-text); font-weight: 700; font-style: normal; font-size: 18px;}

.list-web {color: var(--greey); font-weight: 400; font-style: normal; font-size: 16px;}

/*footer v styd css//*/

footer {background-color: var(--background-black);}

.logofoter {color: var(--white-text);}

.adres .cont {font-weight: 400;font-style: normal; font-size: 14px;}

.adres { color: var(--white-text); font-style: normal;}

.cont {color: var(--greey-op60);}
