:root {
    --blue-logo: rgba(33, 150, 243, 1);
    --blue-btn: rgba(24, 140, 232, 1);

    --black-logo: rgba(0, 0, 0, 1);
    --black-text: rgba(33, 33, 33, 1);
    
    --greey: rgba(117, 117, 117, 1);
    --greey-op60: rgba(255, 255, 255, 0.6);
    
    --white-text: rgba(255, 255, 255, 1);

    --background-black: rgba(47, 48, 58, 1);
}

body {font-family: 'Roboto', sans-serif;}

/*шапка*/

.logotip {font-family: Raleway, sans-serif; color: var(--black-logo);}

.logo { font-family: 'Oleo Seript', sans-serif; color: var(--blue-logo);}

.styd:hover { text-decoration: none; color: var(--blue-logo);}

.link:hover {color: var(--blue-logo);}

.port {color: var(--black-text)}

.tel {color: var(--greey-light);}


/*мейн*/

.efect {color: var(--white-text); background-color: var(--background-black);}

.efect-btn {color: var(--white-text); background-color: var(--blue-btn);}


/*секция текст*/

.text h3 {color: var(--black-text);}

.text p {color: var(--greey-light);}

.text-head {color: var(--black-text);}

.li-cart {color: var(--black-text);}

.list {color: var(--greey-light);}

/*footer*/

footer {background-color: var(--background-black);}

.adres {color: var(--white-text);}

.cont {color: var(--greey-op60);}
