:root {
    --blue-logo: rgba(33, 150, 243, 1);
    --blue-btn: rgba(24, 140, 232, 1);

    --black-logo: rgba(0, 0, 0, 1);
    --black-text: rgba(33, 33, 33, 1);
    
    --greey: rgba(117, 117, 117, 1);
    --greey-op60: rgba(255, 255, 255, 0.6);
    
    --white-text: rgba(255, 255, 255, 1);

    --background-black: rgba(47, 48, 58, 1);
}

body {font-family: 'Roboto', sans-serif;}

/*шапка*/

header {text-decoration: none;}

.logotip {font-family: Raleway, sans-serif; color: var(--black-logo); font-style: normal; font-size: 26px; font-weight: 700;}

.logo { font-family: 'Oleo Seript', sans-serif; color: var(--blue-logo); font-style: normal; font-size: 26px; font-weight: 400;}

.styd:hover { text-decoration: none; color: var(--blue-logo); font-weight: 500; font-style: normal; font-size: 14px;}

.link:hover {color: var(--blue-logo); font-weight: 500; font-style: normal; font-size: 14px;}

.port {color: var(--black-text); font-weight: 500; font-style: normal; font-size: 14px;}

.tel {color: var(--greey-light);font-weight: 500; font-style: normal; font-size: 14px;}


/*мейн*/

.efect {color: var(--white-text); background-color: var(--background-black); font-weight: 900; font-style: normal; font-size: 44px;}

.efect-btn {color: var(--white-text); background-color: var(--blue-btn);font-family: 'Roboto', sans-serif ; font-weight: 700; font-style: normal; font-size: 16px;}


/*секция текст*/

.text-h {color: var(--black-text); font-weight: 700; font-style: normal; font-size: 14px;}

.text-p {color: var(--greey-light); font-weight: 400; font-style: normal; font-size: 14px;}

.text-head {color: var(--black-text); font-weight: 700; font-style: normal; font-size: 36px;}

.li-cart {color: var(--black-text);font-weight: 500; font-style: normal; font-size: 16px;}

.list {color: var(--greey-light); font-weight: 400; font-style: normal; font-size: 14px;}

/*footer*/

footer {background-color: var(--background-black);}

.logofoter {color: var(--white-text);}

.adres {color: var(--white-text); font-style: normal;font-weight: 400; font-size: 14px;}

.cont {color: var(--greey-op60); font-weight: 400; font-style: normal; font-size: 14px;}
